.categoryCardMain {
  background-color: #f6f9fc;
  padding: 0 15px;
  .categoryCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 25px;
  }
}
@media screen and (max-width: 400px) {
  .categoryCardMain {
    .categoryCard {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }
}
