@import "../Components/CardItems/AllCategoryItem.scss";
@import "../Components/CardItems/ArrivalItems.scss";
@import "../Components/CardItems/CarsMain.scss";
@import "../Components/CardItems/CategoryCardItem.scss";
@import "../Components/CardItems/DiscountCardItem.scss";
@import "../Components/CardItems/FearturedCardItem.scss";
@import "../Components/CardItems/FeaturedAndRatingMain.scss";
@import "../Components/CardItems/MoreItem.scss";
@import "../Components/CardItems/ProductHeader.scss";
@import "../Components/CardItems/Rating.scss";
@import "../Components/CardItems/SalesItem.scss";
@import "../Components/Cards/AllCategory.scss";
@import "../Components/Cards/Card.scss";
@import "../Components/Cards/CategoryCard.scss";
@import "../Components/Cards/FeaturedCard.scss";
@import "../Components/Cards/RatingCard.scss";
@import "../Components/Cards/ServiceCard.scss";
@import "../Components/Shared/Banner.scss";
@import "../Components/Shared/BottomNav.scss";
@import "../Components/Shared/Basket.scss";
@import "../Components/Shared/Button.scss";
@import "../Components/Shared/Footer.scss";
@import "../Components/Shared/Header.scss";
@import "../Components/Shared/Modal.scss";
@import "../Components/Shared/SideBar.scss";
@import "../Components/Shared/SingleProduct.scss";
@import "../Components/Shared/Slider.scss";
@import "../Components/Shared/SocialButton.scss";
@import "../Components/Shared/OrdersandAddress.scss";
@import "../Components/Shared/UserHeader.scss";
@import "../Components/Shared/UserProfBtn.scss";
@import "../Pages/UserProfile.scss";
@import "../Pages/Signup.scss";

* {
  padding: 0;
  margin: 0;
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.wishList {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}
