.main {
  background-color: #f6f9fc;
  padding-bottom: 50px;

  .arrivalCardMain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 25px;
    background-color: #fff;
    padding: 20px;
  }
}
