.bottomNavMain {
  // display: flex;
  justify-content: "space-between";
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 1px 30px #e2e1f0;
  display: none;
  .col4 {
    width: 25%;
    cursor: pointer;
    p {
      color: #515d60;
      font-size: 14px;
    }
    .cartQuantity {
      background-color: #d23f57;
      height: 20px;
      border-radius: 50%;
      width: 20px;
      padding: 0 6px;
      position: fixed;
      bottom: 40px;
      left: 63%;
      span {
        color: #fff;
      }
    }
  }
  .col4:hover {
    :first-child,
    p {
      color: #d23f57;
      transition: 0.5s;
    }
    .cartQuantity {
      span {
        color: #fff;
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: flex;
  }
}
