.mainContainer {
  background-color: #f6f9fc;
  padding-bottom: 80px;
  .carsMain {
    display: flex;
    .carsCardMain {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 25px;
    }
    .cars {
      width: 950px;
    }
  }
}
