.mainContainer {
  background-color: #f6f9fc;
  padding: 0 15px 80px 15px;
  .carsMain {
    display: flex;
    .carsCardMain {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 25px;
    }
    .cars {
      width: 950px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    .carsMain {
      .carsCardMain {
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
      }
    }
  }
}
@media screen and (max-width: 945px) {
  .mainContainer {
    .carsMain {
      .carsCardMain {
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .mainContainer {
    .carsMain {
      .carsCardMain {
        grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
      }
    }
  }
}
