.Main {
  .featuresMain {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 35px;
  }
}
