.image {
  border-radius: 5px;
}
.title {
  h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: none;
    white-space: normal;
  }
}
.price {
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #d23f57;
    text-transform: none;
    white-space: normal;
  }
}
