.footerMain {
  background-color: #0c0e30;
  padding: 100px 0;
  .footerCol4 {
    display: flex;
    .footerCol_1 {
      width: 30%;
      margin-right: 10px;
      p {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 25px;
        color: #aeb4be;
        text-transform: none;
        white-space: normal;
      }
      .googleAndAppStore {
        display: flex;
        // align-items: center;
        // justify-content: space-between;
        .googlePlay {
          border-radius: 5px;
          color: white;
          padding: 0px 16px 0px 0;
          background-color: #0c2a4d;
          display: flex;
          align-items: center;
          margin-right: 20px;
          p {
            margin: 0;
            color: white;
            font-size: 8px;
            font-weight: 600;
            line-height: 1;
          }
          h4 {
            font-size: 14px;
            font-weight: 900;
          }
          .appStoreImg {
            margin: 0 10px 0 15px !important;
          }
        }
      }
    }
    .footerCol_2,
    .footerCol_3,
    .footerCol_4 {
      h4 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 1;
        color: white;
      }
      ul {
        li {
          display: block;
          padding: 0.3rem 0rem;
          color: #aeb4be;
          cursor: pointer;
          border-radius: 4px;
        }
      }
    }
    .footerCol_2 {
      width: 20%;
      margin-left: 30px;
    }
    .footerCol_3 {
      width: 25%;
    }
    .footerCol_4 {
      width: 25%;
      .socialIcons {
        display: flex;
        color: #fff;
        margin-top: 20px;
        p {
          border-radius: 50%;
          overflow: visible;
          margin: 4px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 12px;
        }
      }
    }
  }
}
