.main {
  background-color: #f6f9fc;
  padding: 60px 15px 60px 15px;

  .salesCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    .salesCard {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
