.main {
  background-color: #f6f9fc;
  padding: 60px 15px;
  .salesCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
    .owl-carousel {
      .owl-nav {
        .owl-next {
          background-color: #d23f57 !important;
        }
      }
    }
  }
}
