@import "../../Variables/Variables.scss";
.mainHeader {
  background-color: $primary_bg_color;
  color: #fff;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  .contactHeader {
    display: flex;
    justify-content: space-between;
    .logoNone {
      display: none;
    }
    .contactHeaderLeft {
      display: flex;
      :first-child {
        margin-left: 5px;
        display: flex;
        align-items: center;
        :first-child {
          margin-right: 5px;
        }
      }
    }
    .contactHeaderRight {
      display: flex;
    }
    .contactHeaderRight > * {
      margin-right: 35px;
      font-size: 12px;
      cursor: pointer;
      .hover:hover {
        color: #d23f57;
        transition: 0.5s;
      }
    }
  }
}
.searchBarMain {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
  .searchBarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .searchBar {
      justify-content: space-between;
      display: inline-flex;
      border: 1px solid #b5b6b7;
      border-radius: 1200px;
      align-items: center;
      padding-left: 14px;
      height: 44px;
      margin-left: 75px;
      width: 690px;
      .searchIconAndInput {
        display: flex;
        align-items: center;
      }
      input {
        outline: none;
        border: none;
        padding: 0px 0 0 5px;
        width: 50%;
        max-width: 100%;
      }
      input::placeholder {
        color: #d4d7dc;
        font-size: 16px;
      }
      .searchList {
        @keyframes fadein {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        button {
          border: none;
          background: #f6f9fc;
          height: 42px;
          border-top-right-radius: 1200px;
          border-bottom-right-radius: 1200px;
          border-left: 1px solid #b5b6b7;
          color: #4b566b;
          font-size: 14px;
          padding: 0 25px 0 25px;
          font-weight: 400;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
        ul {
          position: absolute;
          top: 102px;
          background: #fff;
          list-style: none;
          margin: 0px;
          outline: 0px;
          border-radius: 4px;
          box-shadow: 0 0 10px #adadad;
          overflow: hidden auto;
          z-index: 111;
          animation: fadein 0.4s;
          li {
            padding: 8px 15px;
            font-size: 14px;
            color: #727883;
            cursor: pointer;
            font-weight: 500;
            line-height: 1.5;
          }
          li:first-child {
            margin-top: 10px;
          }
          li:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
    .carts {
      display: flex;
      margin-left: 10px;
      .iconBackground {
        background-color: #f6f9fc;
        border-radius: 50%;
        padding: 0;
        height: 45px;
        width: 45px;
        display: flex;
        margin-right: 20px;
        color: #818181;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        .cartQuantity {
          background-color: #d23f57;
          height: 20px;
          border-radius: 50%;
          width: 20px;
          padding: 0 6px;
          position: absolute;
          bottom: 38px;
          left: 33px;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}
.navBar {
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0 10px 15px -1px #f3f3f3;
  background-color: #fff;
  .navBarMain {
    display: flex;
    justify-content: space-between;
    margin: 0 0px 0 10px;
    cursor: pointer;
    .categoryMain {
      background-color: #f6f9fc;
      height: 40px;
      display: inline-flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      width: 278px;
      padding: 0 10px;
      .category {
        margin-right: 135px;
        margin-bottom: 5px;
        p {
          margin-bottom: 0px;
          margin-top: 0px;
          font-size: 15px;
          font-weight: 600;
          text-align: left;
          color: #7d879c;
          text-transform: none;
          white-space: normal;
        }
      }
      .categoryIcon {
        margin-top: 5px;
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    ul {
      .homeMain:hover {
        .navListOne {
          display: block;
        }
      }
      .pagesMain:hover {
        .navListTwo {
          display: block;
        }
      }
      .accountsMain:hover {
        .navListTwo {
          display: block;
        }
      }
      .vendorMain:hover {
        .navListTwo {
          display: block;
        }
      }
      li {
        display: inline;
        cursor: pointer;
        margin-right: 2rem;
        font-size: 14px;
        color: #2b3445;
        position: relative;
        padding-bottom: 20px;
        .title,
        .pageTitle {
          display: inline-block;
        }
        .navListOne {
          display: none;
          position: absolute;
          top: 40px;
          background-color: #fff;
          width: 220px;
          box-shadow: 0px 4px 16px #f3efef;
          border-radius: 8px;
          padding: 10px 0 0;
          .lisTitle {
            color: #d8566b;
          }
          p {
            line-height: 40px;
            font-size: 14px;
            font-weight: 400;
            padding: 0 15px;
          }
          p:hover {
            background-color: rgba(128, 128, 128, 0.1);
            color: #d8566b;
          }
        }
        .navListTwo {
          display: none;
          position: absolute;
          top: 40px;
          background-color: #fff;
          width: 220px;
          box-shadow: 0px 4px 16px #f3efef;
          border-radius: 8px;
          padding: 10px 0 0;
          left: 0;
          .lisTitle {
            color: #d8566b;
          }
          p {
            line-height: 40px;
            font-size: 14px;
            font-weight: 400;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
          }
          p:hover {
            background-color: rgba(128, 128, 128, 0.1);
            color: #d8566b;
          }
        }
      }
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .categoryList {
    position: absolute;
    padding: 0.5rem 0px;
    right: auto;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 16px #f3efef;
    z-index: 98;
    top: 182px;
    margin-left: 8px;
    width: 278px;
    animation: fadein 0.4s;
    ul {
      list-style: none;
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 1rem;
        height: 40px;
        min-width: 278px;
        white-space: pre;
        transition: all 250ms ease-in-out;
        color: #7d808d;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        :first-child {
          margin-right: 10px;
        }
      }
      :hover {
        background-color: #fce9ec;
        color: #d8566b;
        transition: 0.5s;
      }
    }
  }
  .categoryListNone {
    display: none;
    animation: fadein 0.4s;
  }
}

@media screen and (max-width: 900px) {
  .mainHeader {
    .contactHeader {
      .logoNone {
        display: block;
      }
      .contactHeaderLeft {
        display: none;
      }
      .contactHeaderRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .hover {
          display: none;
        }
      }
    }
  }
  .searchBarMain {
    .searchBarHeader {
      justify-content: center;
      .logoNone {
        display: none;
      }
      .carts {
        display: none;
      }
      .searchBar {
        margin: 0 10px 0 10px;
      }
    }
  }
  .navBar {
    display: none;
  }
}
