.slickSlider {
  .slick-slider {
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      position: absolute;
      top: 85%;
      li {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 300px;
        margin: 0.25rem;
        cursor: pointer;
        border: 1px solid #0f3460;
        button {
          position: absolute;
          content: " ";
          height: 9px;
          width: 9px;
          top: 2px;
          left: 2px;
          border-radius: 300px;
        }
        button::before {
          display: none;
        }
      }
      .slick-active {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 300px;
        margin: 0.25rem;
        cursor: pointer;
        border: 1px solid #0f3460;
        button {
          position: absolute;
          content: " ";
          height: 9px;
          width: 9px;
          top: 2px;
          left: 2px;
          border-radius: 300px;
          background-color: #0f3460;
        }
      }
    }
  }
}
.sliderMain {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  img {
    height: 400px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
  }
  .sliderContent {
    width: 50%;
    h2 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 1.35rem;
      line-height: 1.2;
      color: #2b3445;
    }
    p {
      margin-bottom: 21.6px;
      margin-top: 0px;
      font-size: 14px;
      line-height: 25px;
      color: #0f3460;
      text-transform: none;
      white-space: normal;
    }
  }
}
@media screen and (max-width: 900px) {
  .sliderMain {
    img {
      width: 300px;
      height: 300px;
    }
  }
}
@media screen and (max-width: 600px) {
  .sliderMain {
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    img {
      width: 100%;
      height: 100%;
      max-height: 400px;
    }
    .sliderContent {
      width: 100%;
      h2 {
        font-size: 40px;
      }
      p {
        margin-bottom: 21.6px;
        margin-top: 0px;
        font-size: 14px;
        line-height: 25px;
        color: #0f3460;
        text-transform: none;
        white-space: normal;
      }
    }
  }
}
