.socialBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 0px;
  margin: 0px 0px 10px;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  line-height: 1.75;
  padding: 6px 8px;
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  height: 44px;
  margin-bottom: 10px;
  background: rgb(59, 89, 152);
  color: white;
}
.bgClr {
  background: rgb(66, 133, 244);
}
